<div class="col-xs-12">
  <h2>Mes appareils</h2>

  <p>Mise à jour: {{lastUpdate | date: 'short'  | uppercase }} </p>
  <ul class="list-group">
    <app-appareil [id]="appareil.id" *ngFor="let appareil of appareils; let i = index" [indexOfAppareil]="i" [appareilName]="appareil.name" [appareilStatus]="appareil.status">
     <a detailsLink [routerLink]="[appareil.id]" ><button class="btn btn-primary"> Voir les détails </button></a>
    </app-appareil>
  </ul>
  <button class="btn btn-success" (click)="onAllumer()">Tout allumer</button>
  <button class="btn btn-danger" (click)="onEteindre()">Tout éteindre</button>
</div>
